/* S'assure que la carte est configurée pour une perspective 3D */
.carte {
    perspective: 1000px;
}

.couche {
    transition: transform 0.5s;
    transform-style: preserve-3d;
    position: relative;
}

.flipped .recto {
    transform: rotateY(180deg);
}

.flipped .verso {
    transform: rotateY(0deg);
}

.recto, .verso {
    backface-visibility: hidden;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.verso {
    transform: rotateY(180deg);
}

.carte.flipped .recto {
    transform: rotateY(180deg);
}
.carte.flipped .verso {
    transform: rotateY(0deg);
}

.carte_visite_recto_verso, .carte {
    /* Assurez-vous que ces conteneurs sont suffisamment grands pour contenir le recto et le verso */
    width: 100%; /* ou une largeur spécifique si nécessaire */
    min-height: 420px; /* ou la hauteur nécessaire pour contenir le contenu des cartes */
    position: relative; /* Important pour contenir absolument des éléments positionnés à l'intérieur */
    margin-bottom: 20px; /* Espacement entre les cartes si nécessaire */
}

.card {
    height: auto; /* S'assure que la hauteur s'ajuste au contenu */
    overflow: hidden; /* Empêche le contenu de déborder */
}